#TinkoffPayForm{
	padding: 15px;
    margin: 15px auto;
    width: 300px;
    background-color: #fc0;
    border-radius: 3px;
    text-align: center;
}
#TinkoffPayForm p{
	margin: 7px 0 0 0;
	font-size: 16px;
    font-family: "Exo 2.0 Bold";
}
#TinkoffPayForm input[type='text']{
	margin: 7px 0;
	padding: 5px 10px;
	width: 95%;
	border: 1px solid #333;
	border-radius: 3px;
}
#TinkoffPayForm input[type='button']{
	margin-top: 15px;
	padding: 10px 25px;
	font-size: 18px;
    font-family: "Exo 2.0 Bold";
    background-color: #ebebeb;
    border: 1px solid #333;
    border-radius: 3px; 
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
#TinkoffPayForm input[type='button']:hover{
    background-color: #fc0;
}