/*© ООО Сео-Гранд seo-grand.ru*/

@font-face {
 font-family: 'Exo 2.0 Medium';
    src: url('../fonts/exo-20-medium.eot');
    src: url('../fonts/index.html') format('embedded-opentype'),
      url(../fonts/exo-20-medium.woff) format('woff'),
      url(../fonts/exo-20-medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exo-20-medium-italic';
    src: url('../fonts/exo-20-medium-italic.eot');
    src: url('../fonts/index.html') format('embedded-opentype'),
    url(../fonts/exo-20-medium-italic.woff) format('woff'),
    url(../fonts/exo-20-medium-italic.ttf) format('truetype');

}
@font-face {
font-family: 'Exo 2.0 Bold';
    src: local('Exo 2.0 Bold'), local('Exo2.0-Bold'),
    url(../fonts/exo-20-bold.woff) format('woff'),
    url(../fonts/exo-20-bold.ttf) format('truetype');
}
@font-face {
    font-family: 'exo-20-bold-italic';
    src: local('exo-20-bold-italic'), local('exo-20-bold-italic'),
    url(../fonts/exo-20-bold-italic.woff) format('woff'),
    url(../fonts/exo-20-bold-italic.ttf) format('truetype');
}
@font-face {
    font-family: 'exo-20-extra-bold';
    src: url('../fonts/exo-20-extra-bold.eot');
    src: url('../fonts/index.html') format('embedded-opentype'),
         url('../fonts/exo-20-extra-bold.woff') format('woff'),
         url(../fonts/exo-20-extra-bold.ttf) format('truetype');

}

@font-face {
    font-family: 'exo-20-extra-bold-italic';
    src: url('../fonts/exo-20-extra-bold-italic.eot');
    src: url('../fonts/index.html') format('embedded-opentype'),
    url('../fonts/exo-20-extra-bold-italic.woff') format('woff'),
    url(../fonts/exo-20-extra-bold-italic.ttf) format('truetype');

}
@font-face {
    font-family: 'exo-20-regular';
    src: url('../fonts/exo-20-regular.eot');
    src: url('../fonts/index.html') format('embedded-opentype'),
    url('../fonts/exo-20-regular.woff') format('woff'),
    url(../fonts/exo-20-regular.ttf) format('truetype');

}
@font-face {
    font-family: 'exo-20-light';
    src: url('../fonts/exo-20-light.eot');
    src: url('../fonts/index.html') format('embedded-opentype'),
    url(../fonts/exo-20-light.ttf) format('truetype');

}



.iosSlider{width:100%;height:550px}
.iosSlider .slider{width:100%;height:100%}
.iosSlider2{width:100%;height:550px; padding-top: 25px}
.iosSlider2 .slider{width:100%;height:100%}
